.products-list {
    display: flex;
    min-height: 200px;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    min-width: 150px;
    min-height: 100px;
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item-image-pic {
    width: 120px;
}

.manage-purchase {
    min-height: 100px;
    display: flex;
}

.purchase-submit-button {
    width: 200px;
    background-color: rgba(72, 61, 139,1);
    color: white;
    margin: auto;
    padding: 10px 20px;
    font-weight: 200;
    cursor: pointer;
}

    .purchase-submit-button:hover {
        background-color: rgba(72, 61, 139,0.85);
    }

.purchase-result-container {
    min-height: 200px;
    display: flex;
    padding: 20px;
    font-size: 1.2rem;
    justify-content: center;
}

.purchase-result {
    font-size:1.2rem;
    text-align:center;
}
