@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This web application is the solution of recruitment task. To make a puchase, please go to Store section.
    </p>
    <p>
        History and status of your orders will be accesible from the navigation bar above after login.
    </p>
</div>
