@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This web application is the solution of recruitment task. To make a puchase, please go to <b>Store</b> section.
        Below you will find the short description of the solution.
    </p>
</div>
